* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#root,
body {
  margin: 0;
  padding: 0;
}

.home_container {
  background-color: rgb(255, 248, 248);
  margin: 0;
}

.home_container h1 {
  font-family: monospace, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin-left: 2rem;
  margin-top: 0.2rem;
}

.cards_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1%;
  text-transform: capitalize;
  justify-content: center;
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  width: 95%;
}

.poke-card {
  display: flex;
  flex-flow: column wrap;
  min-width: 110px;
  max-width: 140px;
  min-height: 250px;
  max-height: 250px;
  text-align: center;
  margin-top: 2px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  border: 2px solid rgb(136, 135, 135);
  cursor: pointer;
  transition: all 0.9s;
}

.poke-card:focus {
  width: 145px;
}

.poke-card h2 {
  color: #000;
}

.poke-card picture {
  min-width: 170px;
  max-width: 180px;
  height: 50%;
  border-radius: 5px;
  opacity: 0.9;
}

.poke-card picture img {
  object-fit: cover;
  min-width: 100px;
  background-color: rgb(214, 212, 212);
  border-radius: 10px;
}

.card_buttons {
  padding: 0.3rem;
  color: red;
  border: none;
  text-transform: capitalize;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  min-width: 90px;
  margin: 0.2rem 0;
  cursor: none;
}

.search_pokemon_container {
  padding: 5px;
  text-align: center;
}

.search_pokemon_container input {
  padding: 0.7rem;
  width: 60%;
  background-color: none;
  border: none;
  border-bottom: 2px aqua solid;
  background-color: rgb(255, 248, 248);
}

.search_pokemon_container input:focus {
  outline: none;
  background-color: rgb(183, 248, 226);
  border-radius: 25px;
}

.big_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;
  background-color: rgb(202, 197, 197);
}

.big_card {
  display: flex;
  flex-flow: column wrap;
  padding-top: 2rem;
  background-color: rgb(212, 211, 211);
  width: 100%;
}

.big_card .pictures_container {
  display: flex;
  flex-direction: column wrap;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.big_card picture {
  width: 20%;
}

.big_card h2 {
  text-align: center;
  text-transform: uppercase;
}

.big_card picture img {
  object-fit: cover;
  width: 100%;
}

.spc_details {
  width: 100%;
  background-color: #30a7d7;
  border-radius: 10px;
}

.spc_details ul {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}

.spc_details ul li {
  text-decoration: none;
  list-style: none;
}

.spc_details ul li h4 {
  font-family: sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
}

.pokemon_stats_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  width: 100%;
}

.pokemon_stats_info div {
  display: flex;
  display: grid;
  text-align: center;
  margin-top: 0.2rem;
  background-color: rgb(155, 155, 155);
  border-radius: 25px;
  padding: 5px;
}

.pokemon_stats_info div {
  margin: auto;
  text-transform: capitalize;
  font-size: 15px;
}

.pokemon_stats_info h3 {
  grid-column: span 6;
  text-align: center;
}

.pokemon_stats_info ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4px;
}

.pokemon_stats_info ul li {
  list-style: none;
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin: 0.2rem 0;
  padding: 0.2rem 0.9rem;
}

.default_line {
  background-color: white;
}

.line {
  background-color: #30a7d7;
}

@media (min-width: 550px) {
  .cards_container {
    width: 100%;
  }
  .poke-card {
    min-width: 127px;
    max-width: 150px;
  }
  .big_card .pictures_container {
    justify-content: center;
    margin: 0;
  }

  .big_card {
    padding-top: 50px;
  }

  .big_card picture img {
    object-fit: cover;
    width: 90%;
  }

  .big_card h2 {
    margin-top: 20px;
  }

  .spc_details {
    height: 240px;
  }

  .spc_details ul {
    gap: 0.5rem;
  }

  .spc_details ul div {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .big_card {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 0.2rem;
    padding: 5px;
  }
  .spc_details {
    width: 40%;
  }
  .pokemon_stats_info {
    width: 55%;
    padding-bottom: 10px;
  }

  .pokemon_stats_info div {
    padding: 10px;
  }
}
